<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @connection.creator.name %>[<%= @connection.creator_id %>]
</p>

<p>
  <strong>Target:</strong>
  <%= @connection.target.name %>[<%= @connection.target_id %>]
</p>

<p>
  <strong>Status:</strong>
  <%= @connection.status %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
