<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Mobile number</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.mobile_number %></td>
        <td>
			<%= user.live_connection_count < 8 ?
				  	(link_to 'Pick', "/users/establish_connection/#{@user.id}?target_id=#{user.id}") :
					"Maxed out"
			%> | 
			<%= link_to 'Show', user %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', @user %>