<h1>Listing s3_infos</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Bucket</th>
      <th>Access key</th>
      <th>Secret key</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @s3_infos.each do |s3_info| %>
      <tr>
        <td><%= s3_info.region %></td>
        <td><%= s3_info.bucket %></td>
        <td><%= s3_info.access_key %></td>
        <td><%= s3_info.secret_key %></td>
        <td><%= link_to 'Show', s3_info %></td>
        <td><%= link_to 'Edit', edit_s3_info_path(s3_info) %></td>
        <td><%= link_to 'Destroy', s3_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S3 info', new_s3_info_path %>
